global:
  scrape_interval:     15s
  external_labels:
    monitor: 'codelab-monitor'
rule_files:
    - '/etc/prometheus/alert.rules'

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['192.168.185.6:9100']
        labels:
          host: 'docker1'
          group: 'docker'

      - targets: ['192.168.185.3:9100']
        labels:
          host: 'docker2'
          group: 'docker'

      - targets: ['192.168.185.9:9100']
        labels:
          host: 'jenkins'
          group: 'ci'
          
      - targets: ['192.168.185.14:9100']
        labels:
          host: 'elastic1'
          group: 'elasticsearch'
